@media only screen and (max-width: 600px) {
  header nav {
    justify-content: center;
  }

  header nav ul {
    text-align: center;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li {
    padding-bottom: 1em;
  }

  .team-description-wrapper ul {
    flex-wrap: wrap;
  }

  .team-description-wrapper li {
    width: 50%;
    margin: 1rem 0;
  }

  .team-description ul li img {
    width: 200px;
    height: 200px;
  }

  .choose-us ul {
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }

  .choose-us li {
    width: 50%;
  }

  .blog-news ul {
    flex-direction: column;
    align-items: center;
  }

  .item {
    margin-bottom: 1rem;
  }
}