* {
    padding: 0; 
    margin : 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 2em;
    background: #eee;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.gallery li {
    display: flex;
    flex: 0 0 15em;
    align-items: center;
    border: 0.5em solid black;
    background: #FFF;
    padding: 0.5em;
    box-shadow: 
        0 0 1em 0.1em rgba(0, 0, 0, 0.2) inset,
        0 0 1em 0 rgba(0, 0, 0, 0.4);
}

.gallery li img {
    display: block;
    width: 100%;
    height: auto;
}